
/DatosPersonas/dist/
/TP2/Ej_2/target/
/ListaPersonas2/nbproject/private/
/DatosPersonas/nbproject/private/
/DatosPersonas/build/
/ListaPersonas2/build/
/Ejercicio_clase_15_8/target/
/MatiasAhumada2K05/MatiasAhumada2K05/target/
